@use "../scss/variable.scss" as*;
.apartement-header{
    .apartements-details{
        display: flex;
        gap:0.5rem
    }
    .apartement_badge{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: gray;
    }
    .apartement-star{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        *{
            font-size: 2rem;
        }
        .on{
            color: $color-primry;
        }
        .off{
            color: gray;
        }

    }
    display: flex;
    .apartement__title{
        flex-grow: 1;
    }
    & > *{
        border: 3px solid blue;
    }
    h3{
        margin-block: 0;
        display:flex;
        flex-direction: column;
        align-items:flex-end;
        font-weight: 400;
    }
margin-bottom: 20px;
}