.navbar {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    color:#ff6060;
    font-weight: 700; 
    gap: 30px;  

}
.navbar > *:first-child{
    margin-right:auto;
}
.navbar a{
    text-decoration: none;
    color: #ff6060;

}
.navbar a:hover{
    text-decoration: underline;
}
.navbar a.active{
    text-decoration: underline;
}