@use "../scss/variable.scss" as*;
.apartement-page{
    color:$color-primry;
    
    h1{
        font-weight: 400;
        margin-block: 0;
    }
    h2{
        font-weight: 400;
        margin-top: 0.5em;
        margin-bottom:0.2em; 
        font-size: 20px;

    }
    
    img{
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
        margin-bottom: 1rem;
        
    }
    .apartement-header{
        .apartements-details{
            display: flex;
            gap:0.5rem
        }
        .apartement_badge{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: gray;
        }
        .apartement-star{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.2rem;
            *{
                font-size: 2rem;
            }
            .on{
                color: $color-primry;
            }
            .off{
                color: gray;
            }

        }
        display: flex;
        .apartement__title{
            flex-grow: 1;
        }
        & > *{
            border: 3px solid blue;
        }
        h3{
            margin-block: 0;
            display:flex;
            flex-direction: column;
            align-items:flex-end;
            font-weight: 400;
        }
        margin-bottom: 20px;
    }
    .apartement-tags{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(100px,150px));
        gap:1rem;
        span{
            background-color:$color-primry ;
            color:  $color-tertairy;
            padding: 0.3em 0.5em;
            border-radius: 0.7em;
            text-align: center;
        }
        
    }
    .apartement-description{
        p{
            margin-block: 0;
        }
        
        .description-title{
            background-color:  $color-primry;
            color:   $color-tertairy;
            padding-block: 0.7rem ;
            border-radius: 0.7rem;
            
        }
        .description-content{
            background-color: gray;
            color:$color-primry ;
            padding: 1rem;
            border-radius:0.7rem;
           
        }
    }

}
