@use "../../scss/variable.scss" as*;
.apartement-page{
    color:$color-primry;
    
    h1{
        font-weight: 400;
        margin-block: 0;
    }
    h2{
        font-weight: 400;
        margin-top: 0.5em;
        margin-bottom:0.2em; 
        font-size: 20px;

    }
    
    
    
   
    .apartement-tags{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(100px,150px));
        gap:1rem;
        span{
            background-color:$color-primry ;
            color:  $color-tertairy;
            padding: 0.3em 0.5em;
            border-radius: 0.7em;
            text-align: center;
        }
        
    }
   .apartement_description{
    display: flex;
    overflow: hidden;
    gap: 10px;
    @media screen and (width<=768px){
        flex-direction:column;}
   }
   li {
    list-style-type: none;
}

}
