@use "../../scss/variable.scss" as*;
.footer {
  background-color:$footer-background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_text {
  color:  $color-tertairy;
  font-size: 15px;
  margin-bottom: 1.5rem;
}
.footer_logo {
  margin-top: 1.5rem;
  width: 5rem;
}
