.main {
  padding-inline: 30px ;
    margin-bottom: 30px;
   min-height: 80vh; /* Occupe au moins toute la hauteur de la fenêtre */
  display: flex;
    flex-direction: column;
    @media screen and (width<=768px){
        padding:1rem;
        }
}
