@use "../../scss/variable.scss" as*;
.apartement_image{
    position: relative;
    margin-bottom: 2rem;
    height: 400px;
    margin-top: 25px;
   
    .btn {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 5rem;
        background-color: transparent;
        color: $color-tertairy;
        font-size: 3rem;
        cursor: pointer;
        border-width: 0;
        
        &.btn-suivant {
          right: 0;
        }
        &.btn-précédent{
          left: 0;
        }
      }
    img{
        height:100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
        margin-bottom: 1rem;
        
    }
    .carouselCounter{
      position: absolute;
      bottom: 20px;
      right: 50%;
      color:$color-tertairy;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;
      line-height: 25.67px;
      text-align: center;

      @media screen and (width<=768px){
        display: none;
      }
    }


}
